<div class="center-page">

    <h2>Что добавить?</h2>

    <a asp-controller="Books" asp-action="Create" class="btn btn-success">Книгу</a>
    <a asp-controller="Authors" asp-action="Create" class="btn btn-success">Автора</a>
    <a asp-controller="Editions" asp-action="Create" class="btn btn-success">Издание</a>
</div>