<div class="center-page">
    <h2>Что удалить?</h2>

    <a asp-controller="Books" asp-action="Index" class="btn btn-danger">Книгу</a>
    <a asp-controller="Authors" asp-action="Index" class="btn btn-danger">Автора</a>
    <a asp-controller="Editions" asp-action="Index" class="btn btn-danger">Издание</a>
</div>