<div class="center-page">

    <h2>Главное меню</h2>

    <a asp-controller="Menu" asp-action="Add" class="btn btn-success">Добавить</a>
    <a asp-controller="Menu" asp-action="Delete" class="btn btn-danger">Удалить</a>
    <a asp-controller="Menu" asp-action="ViewBooks" class="btn btn-primary">Просмотреть</a>

</div>